<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basic Vue Js - HelloWorld App</title>

    <!-- https://google.github.io/material-design-icons/#icon-font-for-the-web -->
    <!-- Using via Google Web Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <!-- https://tailwindcss.com/docs/installation -->
    <!-- Using Tailwind via CDN -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />

    <!-- https://v3.vuejs.org/guide/installation.html#release-notes -->
    <!-- Vue CDN -->
    <script src="https://unpkg.com/vue@next"></script>

    <!-- validate.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>

</head>

<body>
    <div id='app' class="h-screen bg-gray-300  flex flex-row ">
        <!-- <div class="container flex justify-start  py-20"> -->
        <div class="p-3 bg-white rounded-xl w-6/12 max-w-lg hover:shadow">
            <div class="flex justify-between w-full mt-10 ">

                <div class="flex w-4/5	ml-2 justify-between items-center p-3 bg-gray-200 rounded-lg">
                    <img v-bind:src="image" width="150" class="rounded-lg">
                    <div class="fle justify-self-start flex-col	">
                        <div class="mr-3"> <span class="text-gray-400 block">Firstname :</span> <span
                                class="font-bold text-black text-xl">{{Firstname}}</span> </div>
                        <div class="mr-3"> <span class="text-gray-400 block">Lastname :</span> <span
                                class="font-bold text-black text-xl">{{Lastname}}</span> </div>
                        <div> <span class="text-gray-400 block">Age :</span> <span
                                class="font-bold text-black text-xl">{{Age}}</span> </div>
                        <div> <span class="text-gray-400 block">Gender :</span> <span
                                class="font-bold text-black text-xl">{{Gender}}</span> </div>
                        <div> <span class="text-gray-400 block">Tel. :</span> <span
                                class="font-bold text-black text-xl">{{Tel}}</span> </div>
                        <div> <span class="text-gray-400 block">Email :</span> <span
                                class="font-bold text-black text-xl">{{Email}}</span> </div>
                        <div> <span class="text-gray-400 block">Current Job :</span> <span
                                class="font-bold text-black text-xl">{{Job}}</span> </div>
                    </div>

                </div>

            </div>

        </div>
        <!-- // </div> -->


        <!-- form -->
        <form @submit.prevent="checkForm">
            <div class="container p-8 mx-auto mt-10 border rounded-lg flex-col justify-self-auto">
                <h1 class="text-2xl pt-4 pb-4">Registration Form</h1>
                <p v-if="errors" class="text-red-500">
                    <b>Please correct the following error(s):</b>
                <ul>
                    <li v-for="error in errors" class="text-red-500">{{ error }}</li>
                </ul>
                </p>
                <div class="grid grid-cols-2 gap-4">
                    <div class="flex flex-col">
                        <label for="Firstname" class="text-sm leading-7 text-gray-600">First Name</label>
                        <input type="text" id="Firstname" v-model="Firstname" name="Firstname"
                            class="bg-gray-100 rounded px-4 py-2 mb-4">
                    </div>
                    <div class="flex flex-col">
                        <label for="Lastname" class="text-sm leading-7 text-gray-600">Last Name</label>
                        <input type="text" id="Lastname" v-model="Lastname" name="Lastname"
                            class="bg-gray-100 rounded px-4 py-2 mb-4">
                    </div>
                    <div class="flex flex-col">
                        <label for="Age" class="text-sm leading-7 text-gray-600">Age</label>
                        <input type="text" id="Age" v-model="Age" name="Age" class="bg-gray-100 rounded px-4 py-2 mb-4">
                    </div>
                    <div class="flex flex-col">
                        <label class="text-sm leading-7 text-gray-600">Gender</label>
                        <div class="flex flex-row pt-2 space-x-2">
                            <input type="radio" id="Male" v-model="Gender" name="Gender" value="Male"
                                class="bg-gray-100 rounded px-4 py-2 mb-4">
                            <label for="Male">Male</label>
                            <input type="radio" id="Female" v-model="Gender" name="Gender" value="Female"
                                class="bg-gray-100 rounded px-4 py-2 mb-4">
                            <label for="Female">Female</label>
                        </div>
                    </div>

                    <div class="flex flex-col">
                        <label for="Tel" class="text-sm leading-7 text-gray-600">Tel.</label>
                        <input type="text" id="Tel" v-model="Tel" name="Tel" class="bg-gray-100 rounded px-4 py-2 mb-4">
                    </div>

                    <div class="flex flex-col">
                        <label for="Email" class="text-sm leading-7 text-gray-600">Email</label>
                        <input type="text" id="Email" v-model="Email" name="Email"
                            class="bg-gray-100 rounded px-4 py-2 mb-4">
                    </div>
                    <div class="flex flex-col">
                        <label for="Job" class="text-sm leading-7 text-gray-600">Current Job</label>
                        <input type="text" id="Job" v-model="Job" name="Job" class="bg-gray-100 rounded px-4 py-2 mb-4">
                    </div>
                    <div>
                        <input type="submit" value="Submit"
                            class="px-8 py-2 text-white bg-green-500 rounded-lg hover:bg-green-600 focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2">
                    </div>

        </form>
    </div>

    </div> <!-- outside div-->


    <!-- my main.js -->
    <script src="./profile.js"></script>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script> -->
    <script>
        const mountedApp = app.mount('#app')
    </script>
</body>

</html>